body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0
}
a {
    text-decoration: none;
    color: lightgray;
}


.page-top{
    display: flex; 
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 10px 180px ;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
}

.hero-title{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image{
    width: 800px;
    height: 200px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

button{
    background-color: #3882F6;
    color: white;
    border: None;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 6px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 400px;
    gap: 20px;
}

.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.information-title{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.information-ilustration{
    width: 90px;
    height: 90px;
    border-color: #3882F6;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
}

.information-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.citation{
    background-color: #E5E7EB;
    padding: 80px 350px;
}

.citation-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.citation-author{
    font-weight: bold;
    color: #1F2937;
    text-align: right;
}

.contact{
    display: flex;
    margin: 150px 450px;
    padding: 50px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
}

.contact-title{
    font-size: 24px;
    font-weight: extra-bold;
}

.contact-button{
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 1px;
    padding: 5px 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}